In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\Robert Anthony\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [68]:
divs = soup.find_all('div', class_="content_title")
select_div = (divs[1])
title_link = select_div.find('a')
news_t = title_link.text.strip()
news_t

"NASA's MAVEN Continues to Advance Mars Science and Telecommunications Relay Efforts"

In [69]:
divs_2 = soup.find_all('div', class_="article_teaser_body")
select_div_2 = divs_2[0]
news_p = select_div_2.text.strip()
news_p

'With a suite of new national and international spacecraft primed to explore the Red Planet after their arrival next month, NASA’s MAVEN mission is ready to provide support and continue its study of the Martian atmosphere.'

In [70]:
featured_image_url = 'https://mars.nasa.gov/system/news_items/main_images/8844_mavenbeautyshotverticallimb_0.jpg'

In [71]:
import pandas as pd

url = 'https://space-facts.com/mars/'

In [72]:
#use pandas to scrape the table containing facts about the planet
tables = pd.read_html(url)
len(tables)

3

In [88]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [89]:
df = df.T
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.reset_index(drop=True)
df

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
0,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [90]:
#use Pandas to convert the data to a HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Equatorial Diameter:</th>\n      <th>Polar Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Orbit Distance:</th>\n      <th>Orbit Period:</th>\n      <th>Surface Temperature:</th>\n      <th>First Record:</th>\n      <th>Recorded By:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>6,792 km</td>\n      <td>6,752 km</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n      <td>227,943,824 km (1.38 AU)</td>\n      <td>687 days (1.9 years)</td>\n      <td>-87 to -5 °C</td>\n      <td>2nd millennium BC</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [91]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Equatorial Diameter:</th>      <th>Polar Diameter:</th>      <th>Mass:</th>      <th>Moons:</th>      <th>Orbit Distance:</th>      <th>Orbit Period:</th>      <th>Surface Temperature:</th>      <th>First Record:</th>      <th>Recorded By:</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>6,792 km</td>      <td>6,752 km</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>      <td>2 (Phobos &amp; Deimos)</td>      <td>227,943,824 km (1.38 AU)</td>      <td>687 days (1.9 years)</td>      <td>-87 to -5 °C</td>      <td>2nd millennium BC</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [92]:
df.to_html('mars_table.html')